.song-thubmnail {
	& {
		width: 316px;

		position: relative;
	}
	img {
		max-width: 300px;
	}
	md-card-header {
		min-height: 56px;
	}
	.md-title {
		max-width: 284px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.ico-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid white;
	}
	.md-fab {
		position: absolute;
		right: 10px;
		bottom: 90px;
	}
}
